<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FSWidgetTVchannels - Widget Component</title>
    <link rel="stylesheet" href="../../Molecules/FSHeadersSection/FSHeadersSection.css">
    <link rel="stylesheet" href="../../Atoms/FSButtonStream/FSButtonStream.css">
    <link rel="stylesheet" href="FSWidgetTVchannels.css">
</head>
<body style="padding: 16px; background: #FFFFFF; max-width: 639px;">

    <!-- FSWidgetTVchannels Widget -->
    <div class="fs-widget-tv-channels">

        <!-- Section Header -->
        <div class="fs-headers-section">
            <div class="fs-headers-section__left">
                <span class="fs-headers-section__text">TV CHANNEL</span>
            </div>
            <div class="fs-headers-section__center"></div>
            <div class="fs-headers-section__right"></div>
        </div>

        <!-- Channels -->
        <div class="fs-widget-tv-channels__body">
            <div class="fs-widget-tv-channels__channels">

                <a href="#" class="fs-button-stream fs-button-stream--textlink">
                    <span class="fs-button-stream__label">America TV (Per),</span>
                    <img src="../../../Assets/Icons/Action/External link.svg" alt="" class="fs-button-stream__icon">
                </a>

                <a href="#" class="fs-button-stream fs-button-stream--textlink">
                    <span class="fs-button-stream__label">Antel TV (Uru),</span>
                    <img src="../../../Assets/Icons/Action/External link.svg" alt="" class="fs-button-stream__icon">
                </a>

                <a href="#" class="fs-button-stream fs-button-stream--textlink">
                    <span class="fs-button-stream__label">Arena Premium 1 (Bih),</span>
                    <img src="../../../Assets/Icons/Action/External link.svg" alt="" class="fs-button-stream__icon">
                </a>

                <a href="#" class="fs-button-stream fs-button-stream--textlink">
                    <span class="fs-button-stream__label">Arena Premium 1 (Mkd),</span>
                    <img src="../../../Assets/Icons/Action/External link.svg" alt="" class="fs-button-stream__icon">
                </a>

                <a href="#" class="fs-button-stream fs-button-stream--textlink">
                    <span class="fs-button-stream__label">Arena Premium 1 (Mne),</span>
                    <img src="../../../Assets/Icons/Action/External link.svg" alt="" class="fs-button-stream__icon">
                </a>

                <a href="#" class="fs-button-stream fs-button-stream--textlink">
                    <span class="fs-button-stream__label">Arena Premium 1 (Srb),</span>
                    <img src="../../../Assets/Icons/Action/External link.svg" alt="" class="fs-button-stream__icon">
                </a>

                <a href="#" class="fs-button-stream fs-button-stream--textlink">
                    <span class="fs-button-stream__label">Arena Sport 1 (Cro),</span>
                    <img src="../../../Assets/Icons/Action/External link.svg" alt="" class="fs-button-stream__icon">
                </a>

                <a href="#" class="fs-button-stream fs-button-stream--textlink">
                    <span class="fs-button-stream__label">Arena Sport 1 (Slo),</span>
                    <img src="../../../Assets/Icons/Action/External link.svg" alt="" class="fs-button-stream__icon">
                </a>

                <a href="#" class="fs-button-stream fs-button-stream--textlink">
                    <span class="fs-button-stream__label">Astro Go (Mys)</span>
                    <img src="../../../Assets/Icons/Action/External link.svg" alt="" class="fs-button-stream__icon">
                </a>

                <!-- Show more -->
                <a href="#" class="fs-button-stream fs-button-stream--show-more">
                    <span class="fs-button-stream__label">Show more</span>
                    <img src="../../../Assets/Icons/Action/Navigation/Arrow/Right.svg" alt="" class="fs-button-stream__icon">
                </a>

            </div>
        </div>
    </div>

</body>
</html>
